body{
    background-color: rgb(6, 219, 242);
    margin-left: 200px;
    color: rgb(10, 5, 139);
 }
 ul{
     position: absolute;
     left: 0px;
     list-style-type: none;
 }
 li {
     background-color: rgb(255, 255, 255);
     color: rgb(37, 26, 198);
     margin-bottom: 10px;
     padding: 7px;
     border-right: 14px solid rgb(32, 10, 181);
 }
 .clases_color{
    color:rgb(29, 167, 86);
 }
 #id1{
    color:rgb(235, 42, 106)
 }
 input{
    border-radius: 10px;
    padding: 7px;
 }
 .btn-enviar{
    background-color: aqua;
 }
 .btn-resetear{
    background-color: red;
 }
 .btn{
    padding: 7px;
    border-radius: 10px;
    border: 0px;

 }